@import url(https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i);

:root {
  --collegeColor: #8B80F9;
  --covidColor: #D1495B;
  --movingColor: #2A7F62;
  --nycColor: #EE964B;
  --gradColor: #F95738;
  --nonfictionColor: #58A4B0;
  --fictionColor: #F7C4A5
}

button,
body {
  font-family: "Public Sans", Helvetica, sans-serif;
  width: 720px;
  padding: 1em;
  margin: 0 auto;
  background: #f9f9f9;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 15px;
}

.byline {
  margin-top: 10px;
}

.body-text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

.tooltip {
  font-size: 12px;
  width: 20%;
  margin-left: 30px;
}

.entry {
  width: 900px;
  padding: 0;
  margin-left: -100px;
}

h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Helvetica, sans-serif;
  font-weight: 700;
}

.y-label {
  font-size: 14px;
}

.axis text {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chartContainer {
  position: sticky;
  z-index: 1;
  margin: auto;
  top: 20%;
  width: 100%;
  opacity: 0;
}

.scroller {
  position: relative;
  background-color: white;
  border: 1px black solid;
  padding: 10px 20px;
  /* margin-left: 100px; */
  width: 50%;
  margin-top: 90vh;
  margin-bottom: 20vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.2;
  z-index: 9999;
}

#step1 {
  margin-top: 10vh;
}

#step8 {
  margin-bottom: 0;
}

#stepLast {
  opacity: 0;
  margin-bottom: 10vh;
}

.book {
  /* margin-left: 100px; */
  width: 30%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  z-index: 9999;
  display: flex;
  max-height: 20vh;
}
.scroller.book.left {
  margin-left: 85px;
}

.scroller.book.right {
  margin-right: 40px;
}

.nonfiction {
  box-shadow: var(--nonfictionColor) 0px 5px 15px;
  border: 1px var(--nonfictionColor) solid;
}

.fiction {
  box-shadow: var(--fictionColor) 0px 5px 15px;
  border: 1px var(--fictionColor) solid;
}

.book-info {
  margin: auto;
  font-size: 14px;
  -ms-flex: 0 0 66.67%;
  flex: 0 0 66.67%;
  max-width: 66.67%;
  padding: 0 10px 0 10px;
  max-height: 100%;
;}

img {
  width: 100%;
  max-height: 100%;
}


.book-img {
  display: block;
  margin: auto;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  width: 100%;
}

button {
  font-size: 18px;
  line-height: 1.56;
}

.collapsible {
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
  outline: none;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* .collapsible:hover {
  text-decoration: underline;
} */

.link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#college-1 {
  fill: red;
  font-weight: 500;
  color: red;
}

.college-text {
  background-color: var(--collegeColor);
  font-weight: 600;
  border-radius: 5px;
}

.covid-text {
  background-color: var(--covidColor);
  font-weight: 600;
  border-radius: 5px;
  color: white;
}

.moving-text {
  background-color: var(--movingColor);
  font-weight: 550;
  border-radius: 5px;
  color: white;
}

.nyc-text {
  background-color: var(--nycColor);
  font-weight: 600;
  border-radius: 5px;
}

.grad-text {
  background-color: var(--gradColor);
  font-weight: 600;
  border-radius: 5px;
  color: white
}

.grey-text {
  background-color: #cfd1d3;
  font-weight: 600;
  border-radius: 5px;
}

.nonfiction-text {
  background-color: var(--nonfictionColor);
  font-weight: 600;
  border-radius: 5px;
}

.periods.text {
  font-weight: 600;
  z-index: 9999;
}
.goodreads {
  text-decoration: underline;
}

span { 
  padding-left: 3px; 
  padding-right: 3px; 
} 